<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/header.css" />
  </head>
  <body>
    <nav>
      <div class="left">
        <a href="/">Home</a>
      </div>
      <div class="right">
        <a href="/login">Log in</a>
        <a href="/register">Sign up</a>
        <a href="/cart">Cart</a>
      </div>
    </nav>
  </body>
</html>
